__pycache__/
*.py[cod]
*.pyo

.env
.env.*
*.log
*.sqlite3

# Virtual environments
venv/
env/

# Git

.gitignore

# IDE/editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Docs (optional)
*.md
